artifacts
node_modules
package-lock.json
.idea

\.eosproj

\.env
\.env*
!.env.example

.vscode/settings.json
.vscode/c_cpp_properties.json
secrets_generated/
scripts/attest.js
create_owner.sh

include/document_graph
src/document_graph
.DS_Store
